{# Footer partial for FES pages #}
<footer class="fes-footer">
    <div class="container">
        <p>Copyright {{ 'now'|date('Y') }} Negros Oriental State University. ALL Rights Reserved. <a href="#">Privacy Notice</a> | <a href="#">Terms of Service</a></p>
    </div>
</footer>
